@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    @extend %estiloTitulo;
}

h4{
    @extend %estiloParrafo;
}

button{
    @extend %estiloParrafo;
}

@import './variables/tipografia';
@import './variables/mixins';
@import './variables/extend';

@import './secciones/index'