@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

%estiloTitulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}
    
%estiloParrafo{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 25px;
}